@import 'variables';
@import 'mixins';
// Base
@import 'base/fonts';
@import 'base/base';
// Components
@import 'components/header';
@import 'components/footer';
// Pages
@import 'pages/index';
.main {
    .container {
        width: 80%;
        margin: auto;
        overflow: hidden;
    }
    .fallinlove {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        justify-items: center;
        // align-items: end;
        padding-top: 1em;
        img {
            width: 375px;
            height: 412px;
            border-radius: 15px;
        }
        .image {
            width: 375px;
            height: 206px;
            border-radius: 15px;
            // margin: 10px;
        }
        .test1 {
            // background-image: url('https://atlasvoyages.com/assets/img/Immersionsuden4x4.jpg');
            position: relative;
        }
        .info {
            font-family: 'Poppins';
            font-size: 20px;
            color: #fff;
            position: absolute;
            bottom: 25px;
            left: 45%;
            transform: translateX( -45%);
            text-align: center;
            margin: 0 0 10px;
            h4 {
                color: #fff;
                font-size: 1em;
                font-weight: bolder;
            }
            p {
                font-size: .8em;
            }
        }
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: repeat(100px, auto);
        grid-gap: 10px;
        grid-template-areas: "ocean airport got" "ocean marriage got" "ocean marriage got" "ballons marriage karate";
        justify-items: center;
        align-items: center;
        img {
            width: 375px;
            border-radius: 15px;
        }
        .ocean {
            grid-area: ocean;
        }
        .airport {
            grid-area: airport;
        }
        .got {
            grid-area: got;
        }
        .ballons {
            grid-area: ballons;
        }
        .marriage {
            grid-area: marriage;
        }
    }
    .mobile {
        background-size: cover;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://atlasvoyages.com/assets/img/atlas-voyages-appmobile.jpg') no-repeat;
        background-attachment: fixed;
        max-width: 100vw;
        padding: 3em;
        margin: 0 auto;
        .datas {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            align-items: flex-start;
            color: #fff;
            text-align: left;
            .grid_left {
                width: 80%;
                h2 {
                    color: white;
                    font-size: 4em;
                    text-align: left;
                    padding-bottom: .3em;
                }
                p {
                    font-size: 1.5em;
                    padding-bottom: .3em;
                }
                .google {
                    height: 50px;
                    width: 126px;
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: .3em;
                }
                .btn {
                    text-transform: uppercase;
                    font-weight: bolder;
                    font-size: 1.5em;
                }
            }
            .grid_right {
                width: 50%;
                .grid_right img {
                    height: 500px;
                    width: 500px;
                }
            }
        }
    }
}