footer {
    background-color: #121921;
    padding: 5em;
    h2 {
        font-size: 2em;
        color: #fff;
    }
    .upper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        h4 {
            padding: 1em 0 1em;
            text-align: left;
            font-size: 1.3em;
            color: #ffffffB3;
            font-weight: bold;
        }
        .follow {
            display: flex;
            h3 {
                text-align: left;
                color: #ffffffB3;
                text-transform: uppercase;
                margin: .5em 1em 0 0;
            }
            i {
                font-size: 2em;
                margin-right: 1em;
                color: #ffffffB3;
                ;
            }
        }
    }
    .center_info,
    .right_info {
        h2 {
            padding: 1em 0 1em;
            text-align: left;
        }
        ul {
            list-style: none;
            text-align: left;
            color: #ffffffB3;
            // padding-left: 5em;
        }
        li {
            font-size: 1.5em;
            padding-bottom: 1em;
        }
    }
    .middle {
        h2 {
            text-align: left;
            padding-bottom: 1em;
        }
        .footer-btn {
            width: 100%;
            padding: 1.5em;
            border-radius: 50px;
            background-color: #fff;
            color: #C0020C;
            font-size: 1.5em;
            outline: none;
            border: none;
        }
    }
}