        header {
            padding: 4em;
            margin-bottom: 30px;
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://atlasvoyages.com/assets/img/atlas-voyages-home.jpg");
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            .container {
                width: 90%;
                margin: auto;
                overflow: hidden;
                nav {
                    display: flex;
                    justify-content: space-between;
                    img {
                        width: 300px;
                    }
                }
                ul {
                    list-style: none;
                    display: flex;
                }
                li {
                    margin-right: 1em;
                    font-size: 1em;
                    color: #fff;
                    font-weight: bold;
                }
                h5 {
                    margin: 8em 0 2em .2em;
                    background-color: #fff3cd;
                    padding: 12px 64px 12px 2px;
                    color: #856404;
                    font-size: 20px;
                    border-radius: 5px;
                    font-weight: normal;
                }
                span:nth-child(1) {
                    font-weight: bolder;
                }
                span:nth-child(2) {
                    color: #C0020C;
                }
                .btn_header {
                    font-size: 1.5em;
                    padding: 10px 50px 10px 50px;
                    background-color: #C0020C;
                    border: none;
                    color: white;
                    border-radius: 5px;
                }
                .data {
                    font-weight: normal;
                    .bookings {
                        text-transform: uppercase;
                        padding: 10px 2px 10px 2px;
                        text-align: center;
                        #red {
                            background-color: #C0020C;
                            padding: 10px 15px 10px 40px;
                        }
                        li {
                            background-color: rgba(0, 0, 0, 0.5);
                            padding: 10px 15px 10px 40px;
                        }
                    }
                    .bookings_input {
                        text-align: left;
                        .input-container {
                            // display: flex;
                            // width: 100%;
                            // margin-bottom: 15px;
                            // flex-direction: column;
                            // margin-right: 2em;
                            position: relative;
                            display: inline;
                            .input-field {
                                // padding: 2em;
                                // width: 100%;
                                outline: none;
                                font-size: 1.5em;
                                padding: 10px 2px 10px 15px;
                                // margin: 8px 0;
                                box-sizing: border-box;
                                // box-shadow: 0 0 8px 0 dodgerblue;
                            }
                            .icon {
                                position: absolute;
                                top: -15px;
                                left: 280px;
                                padding: 10px;
                                color: grey;
                                min-width: 50px;
                                text-align: center;
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }