.index {
    text-align: center;
    background-color: $primaryColor;
    .image {
        @include border-radius(10px);
        max-width: 400px;
        margin: 30px auto;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1em;
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-align: center;
    color: #C0010C;
    font-weight: bold;
    font-size: 3em;
}

h4 {
    font-size: 1.5em;
    color: #555555;
    font-weight: lighter;
}

.btn {
    background-color: #C0010C;
    border-radius: 30px;
    padding: 15px 30px;
    color: white;
    outline: none;
    border: none;
    justify-self: center;
    font-size: 2em;
    font-weight: bolder;
    margin-bottom: 2em;
}